{% extends "base.html" %}
{% block head %}
    <title>DMP-map</title>
      
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="{{ url_for('static', filename = 'js/svg-pan-zoom.min.js') }}"></script>
 
{% endblock %}

{% block content %}

    <div id="container">        
        <div id="options">
            <div id="infoDiv"></div>
            <div id="infoDiv2"></div>
            
            <button id="drowLineButton">Line</button>
            <button>some1</button>
            <button>some1</button>
            <button>some1</button>
            <button>some1</button>
            <button>some1</button>
            <button id="testBut1">Show attr</button>
            <form action="/index">
                <input type="submit" value="Go index" style="background-color: brown;"/>
            </form>
            <div id="layers">
                <span>Layers</span>
                {% for l_name in layers_names %}                
                <div id="lcheck_{{ l_name }}">
                    <input type="checkbox" id="{{ l_name }}" name="{{ l_name }}">
                    <label for="{{ l_name }}">{{ l_name }}</label>
                </div>
                {% endfor %}
            </div>

        </div>
        <svg id="mySVG" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%">
            <g class="svg-pan-zoom_viewport" >
                {% for layer_name, coords in geo_linestrings.items() %}
                    {% for coords1 in coords %}
                        {% for points in coords1 %}
                <polyline points="{% for point in points %}{{ (point[0]-geo_statistic['MIN_X']) }}, {{ (point[1]-geo_statistic['MIN_Y']) }} {% endfor %}" style="fill:none;stroke:black;stroke-width:3"/>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

                {% for layer_name, coords in geo_poligons.items() %}
                    {% for coords1 in coords %}
                        {% for coords2 in coords1 %}
                            {% for points in coords2 %}
                <polygon  points="{% for point in points %}{{ (point[0]-geo_statistic['MIN_X']) }}, {{ (point[1]-geo_statistic['MIN_Y']) }} {% endfor %}" style="fill:blue;stroke:blue;stroke-width:3"/>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

                {% for layer_name, coords in geo_points.items() %}
                    {% for points in coords %}
                <circle cx="{{ (points[0]-geo_statistic['MIN_X'])*constanta }}" cy="{{ (points[1]-geo_statistic['MIN_Y'])*constanta }}" r="0.7"/>

                    {% endfor %}
                {% endfor %}
            </g>
        </svg>
    </div>
    Min lot, lan = {{ geo_statistic['MIN_LON'] }}, {{ geo_statistic['MIN_LAT'] }}
    Max lot, lan = {{ geo_statistic['MAX_LON'] }}, {{ geo_statistic['MAX_LAT'] }}

    <script src="{{ url_for('static', filename = 'js/map_view.js') }}" type="module" crossorigin="anonymous"></script>
{% endblock %}