{% extends "base.html" %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/styles.css') }}">
    
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.18/"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
{% endblock %}

{% block content %}

    <div id="info">
        <div id="draw-tools"> 
            <span>Draw tools</span>
            <button id="Point">Point</button>
            <button id="Multipoint">Multipoint</button>
            <button id="Line">Line</button>
            <button id="Polyline">Polyline</button>
            <button id="Polygon">Polygon</button>
            
            <button onclick="showObjects()">Show objects</button>
        </div>
        <div id="layers">
            <span>Layers</span>
            {% for layer_name in layers_names %}
            <div id="lcheck_{{ layer_name }}">
                <input type="checkbox" id="checkbox_{{ layer_name }}" name="{{ layer_name }}" onclick="hideLayer( 'checkbox_{{ layer_name }}' ,'{{ layer_name }}' )" checked>
                <label for="{{ layer_name }}">{{ layer_name }}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/dig_map.js') }}" ></script> 
    <script src="{{ url_for('static', filename = 'js/ajaxtest.js') }}" ></script> 
    
    <div id="viewDiv"></div>
    <script>
        window.addEventListener('load',ajaxGeometryLoad);
    </script>
    
{% endblock %}