
body{
    width:100%;
    height:100%;
    margin:0;
}

#options{
    background-color: aqua;
    float: left;
    width: 200px;
    position: fixed;
    margin: 10px;
    z-index: 10;
}

#layers{
    background-color: azure;
}


#drowLineButton{
    width: min-content;
}

#mySVG{
    background-color: white;
    width:100%;height:100%;position:fixed;top:0;left:0;bottom:0;right:0;
}