#options{
    background-color: aqua;
    float: left;
    width: min-content;
}

#myCanvas{
    background-color: rgb(199, 199, 226);
    float: left;
}

#drowLineButton{
    width: min-content;
}

#myCanvas{
    
}